#header
  h1 Say Hello to 
    span.highlight HackBack
  p this bookmarklet leads you back to HackerNews

#content
  h3 What Is This For?
  p Here's the usecase: You opened a <a href="http://news.ycombinator.com/news">HackerNews</a> link from Twitter, Facebook, your favorite RSS reader, or etc. But there's <em>no easy way</em> to check the original post and comments on HN, which might be more valuable than the link itself.
  p This bookmarklet does one simple job: it brings you back to the comment page on HN.
  h3 Install
  p Just Drag this 
    span.hackback_button <a href="javascript:(function(){document.body.appendChild(document.createElement('scr'+'ipt')).setAttribute('src', 'http://hackback.cloudfoundry.com/hn.js')})();">B2HN</a> 
    | to your bookmark bar.
  h3 How It Works?
  p HackBack crawls HN's popular and newest page every 3 minutes, it saves the article's link and its comment page's url.
  p When you clicked the bookmarklet, the url is send to HackBack, and HackBack sends you to the comment page. That's it.
  p What if HackBack can't bring you back? Chance! You'll be asked if you want to post it on HN.

#social_buttons.cf
  h3 Share With Your Fellow Hackers
  .buttons
    .twitter_button
      | <a href="http://twitter.com/share" class="twitter-share-button" data-count="horizontal">Tweet</a><script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script>
    .facebook_button
      | <iframe src="http://www.facebook.com/plugins/like.php?href=http%3A%2F%2Fhackback.cloudfoundry.com&amp;layout=button_count&amp;show_faces=false&amp;width=450&amp;action=like&amp;font&amp;colorscheme=light&amp;height=21" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:250px; height:21px;" allowTransparency="true"></iframe>

#by
  p <a href='#'>HackBack</a> runs on <a href='http://www.cloudfoundry.com/'>Cloud Foundry</a>, a PAAS service by VMWare, which is really easy to deploy. Without it you may not see it comes online.
  p This bookmark is written in <a href='http://nodejs.org'>node.js</a> using <a href='https://github.com/visionmedia/express'>express</a> framework, with a backend of <a href='http://www.mongodb.org/'>MongoDB</a>. You can <a href='https://github.com/rjyo/hackback'>fork the source on GitHub</a>.
  p.alignright - Brought you by 
    a(href='http://jyorr.com') Jyo 
    | , with love. 
